/* --- Base a supprimer */
body, .connexion-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    background-color: rgb(227, 219, 204);
    min-height: 100vh;
}

/* --- Page inscription --- */
.connexion-main { width: 100%; padding: 40px 5%; box-sizing: border-box; }

.connexion-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    gap: 30px;
}

h1, label { color: #4f402d; }

h1 { font-size: 32px; font-weight: 800; margin: 0; }

label {
    display: block;
    font: 400 1.1rem 'Urbanist', sans-serif;
    margin-bottom: 8px;
}

/* --- Formulaire --- */
.form-row { display: flex; gap: 15px; }
.form-row .input-group { flex: 1; }
.input-group { margin-bottom: 25px; }

input {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

.login-button {
    background-color: #ab8a60;
    color: #fff;
    border: none;
    padding: 12px 60px;
    border-radius: 50px;
    font: 700 20px 'Urbanist', sans-serif;
    cursor: pointer;
    margin-top: 25px;
}

/* --- responsive --- */
@media screen and (min-width: 768px) {
    .connexion-wrapper { flex-direction: row; gap: 100px; align-items: center; }
    .title-section, .form-section { flex: 1; }
    h1 { font-size: 48px; }
}

@media (max-width: 768px) {
    .form-row { flex-direction: column; gap: 0; }
    .login-button { width: 100%; padding: 12px 20px; }
}